@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,700&display=swap");

.App {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

/* HEADER */

.header {
  background-color: white;
  min-height: 15vh;
  border-bottom: solid 1px grey;
  display: flex;
  align-items: center;
}
.headerWrapper {
  margin: 5px 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  width: 80%;
  margin-bottom: 5px;
}
.headerWrapper h2 {
  font-family: Oswald;
  font-size: 24px;
}

/* CONTAINERS */

.wrapper {
  margin: 10px 60px;
  height: 100vh;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 0px;
}

.pageTitle {
  font-family: Oswald;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 800;
  color: #ff9e23;
  text-align: left;
  margin-right: 25px;
}

.icon {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px grey;
  padding: 5px;
  box-shadow: 0px 2px lightgrey;
}
.info {
  height: 10px;
  object-fit: contain;
}

/* COMPOSANTs */
.nextStepButton {
  height: 44px;
  width: 100px;
  background-color: #ff9e23;
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
}
.nextStepButtonUnvalidate {
  height: 44px;
  width: 100px;
  background-color: lightsalmon;
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
}
.nextStepButton p {
  font-family: Oswald;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.nextStepButtonUnvalidate p {
  font-family: Oswald;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.navButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.gobackButton {
  height: 44px;
  width: 100px;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
}
.gobackButton p {
  font-family: Oswald;
  font-size: 18px;
  color: black;
  text-decoration: underline;
}

/* RADIOBUTTON */
.lineButton {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px 0px;
}
.radioButton {
  width: 100%;
  height: 100px;
  background-color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 10px 0px;
  margin-right: 10px;
  border-radius: 5px;
  border: solid 1px lightgrey;
  font-family: Oswald;
  font-size: 22px;
  color: black;
  text-transform: uppercase;
  font-weight: 800;
  box-shadow: 0px 5px lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radioButtonOrange {
  width: 100%;
  height: 100px;
  background-color: #ff9e23;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 10px 0px;
  margin-right: 10px;
  border-radius: 5px;
  border: solid 1px lightgrey;
  font-family: Oswald;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  box-shadow: 0px 5px lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radioButton:hover {
  background-color: #ff9e23;
  color: white;
  border: none;
}

/* LOCATION */
.questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 40px 0px;
  width: 100%;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  margin: 20px 0px;
  padding: 20px 5px;
}

.questions p {
  font-family: Oswald;
  font-size: 18px;
  color: black;
  flex: 1;
  text-align: left;
}
.reponse {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: Oswald;
  font-size: 18px;
  color: black;
  flex: 1;
}

.reponse select {
  width: 100%;
  margin-left: 10px;
  outline: none;
}

.reponse input {
  width: 100%;
  margin-left: 10px;
  padding: 5px;
  outline: none;
  border: 1px solid #ff9e23;
  border-radius: 5px;
  box-shadow: 0px 3px #ff9e23;
}

.zipCode {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.zipCode input {
  width: 100%;
  margin-left: 10px;
  padding: 5px;
  outline: none;
  border: 1px solid #ff9e23;
  border-radius: 5px;
  box-shadow: 0px 3px #ff9e23;
}

/* CONTACT */

.emailSection {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.orangeCard {
  height: 100%;
  width: 25%;
  background-color: #ff9e23;
  font-family: Oswald;
  font-size: 30px;
  color: white;
  margin-right: 50px;
  margin-left: 200px;
  text-align: center;
  padding: 15px 15px;
  line-height: 1.3;
}

.imgComputer {
  height: 100%;
  object-fit: contain;
}

.conditions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0px;
}
.notification {
  margin-left: 10px;
  font-family: Oswald;
  font-size: 16px;
}

.progressBar {
  position: relative;
  height: 20px;
  width: 40%;
  border-radius: 50px;
  border: 1px solid lightgrey;
  margin: 0px 20px;
}

.filler {
  background-color: #ff9e23;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

/* BACKOFFICE */

.passwordInput {
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  outline: none;
  padding: 5px;
  margin-bottom: 20px;
}
.connexion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonBack {
  width: 100%;
  background-color: lightgrey;
  border-radius: 20px;
  height: 100%;
  padding: 5px 15px;
  font-family: Oswald;
  font-size: 14px;
}

.table {
  width: 100%;
  height: 100%;
  font-family: Oswald;
  color: black;
  font-weight: 200;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
}
.line {
  display: flex;
  height: 44px;
  width: 100%;
}
.lineHeader {
  display: flex;
  height: 44px;
  width: 100%;
  background-color: #ff9e23;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.elem {
  width: 20%;
  height: 100%;
  border: 0.5px solid #ff9e23;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 30px 0px;
  padding: 20px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: solid 1px lightgrey;
  font-family: Oswald;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  font-weight: 200;
  box-shadow: 5px 5px lightgrey;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.formTitle {
  width: 100%;
  height: 100%;
  background-color: #ff9e23;
  color: white;
  font-weight: 500;
  font-size: 16px;
}
.cardLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.category {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 0.1px lightgrey;
}
.subtitle {
  color: #ff9e23;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
}
.goBack {
  display: flex;
  justify-content: flex-start;
}

.goBackButton {
  width: 20%;
  background-color: white;
  border-radius: 20px;
  height: 100%;
  padding: 5px 15px;
  font-family: Oswald;
  font-size: 14px;
  color: #ff9e23;
  border: solid 0.5px #ff9e23;
}

.end {
  display: flex;
  justify-content: flex-start;
}

.end p {
  font-family: Oswald;
  font-size: 18px;
}

.deleteButton {
  width: 50%;
  background-color: white;
  border-radius: 20px;
  height: 100%;
  padding: 5px 15px;
  font-family: Oswald;
  font-size: 14px;
  color: #ff9e23;
  border: solid 0.5px #ff9e23;
}

.homeReturn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
